/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ picture-comp.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.picture-comp:hover {
  cursor: pointer;
  transform: scale(1.03);
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ artist-comp.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.artist-comp:hover {
  cursor: pointer;
  transform: scale(1.03);
}
