/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ mypage.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.profile-image {
  position: relative;
  border-radius: 50%;
  background-image: url("../assets/mypage/profile.jpg");
  background-size: cover;
  background-position: center center;

  .modify-profile {
    position: absolute;
    right: 2%;
    bottom: 2%;
    width: 18%;
    height: 18%;
    background-image: url("../assets/mypage/settings.png");
    background-size: cover;
    background-position: center center;
  }
  .modify-profile:hover {
    cursor: pointer;
  }
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ followitem.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.user-img {
  border: 1px solid black;
  border-radius: 50%;
  background-image: url("../assets/mypage/malang.png");
  background-size: cover;
  background-position: center center;
  width: 45px;
  height: 45px;
  margin: 0.5em;
}
.mvcollection {
  height: 10%;
  border-radius: 10px;
  padding: 0.5em 1em;
  margin-right: 0.2em;
}
.mvcollection:hover {
  cursor: pointer;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ wallet.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.wallet {
  background-image: url("../assets/mypage/wallet.png");
  background-size: cover;
  background-position: center center;
  width: 100px;
  height: 100px;
  margin: 0.5em;
}

.add-btn {
  background-image: url("../assets/mypage/plus.png");
  background-size: cover;
  background-position: center center;
  width: 30px;
  height: 30px;
  margin: 0.2em 0.5em;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ addpic.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.upload-btn {
  border-radius: 5px;
  padding: 0.5em 1em;
  background-color: #c2b8a3;
}
.upload-btn:hover {
  cursor: pointer;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ feed.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.feed-user {
  font-size: 1.3em;
}

.feed-profile {
  border-radius: 50%;
  background-image: url("../assets/mypage/profile.jpg");
  background-size: cover;
  background-position: center center;
  width: 100px;
  height: 100px;
  margin: auto;
}

.follow-btn {
  width: fit-content;
  margin: auto;
  padding: 0.3em 1em;
  background-color: #a19882;
  color: #ffffff;
  font-weight: 500;
  border-radius: 10px;
  font-size: 1.2em;
}

.follow-btn:hover {
  cursor: pointer;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ picture.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.picmo {
  width: 100%;
  height: 30vh !important;

  .pic {
    background-image: url("../assets/mypage/profile.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }

  .pic:hover {
    cursor: pointer;
  }
}
